@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0; /* Safari and Chrome */
    height: 0; /* Safari and Chrome */
}

::-webkit-scrollbar {
    width: 7px;
    /* display: none; */
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background: #200d3b;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
    border-radius: 10px;
}

/* Media query to hide scrollbar for screens smaller than 768px */
@media (max-width: 767px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

.btn {
    background: linear-gradient(57.4deg, rgb(247, 156, 106) 4.6%, rgb(249, 120, 180) 26%, rgb(188, 82, 249) 49.1%, #7869fa 86.5%);

    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
    background: linear-gradient(57.4deg, rgb(70, 163, 250) 4.6%, rgb(188, 82, 249) 26%, rgb(249, 120, 180) 49.1%, rgb(247, 156, 106) 86.5%);
}

.gradient,
.active {
    background: linear-gradient(57.4deg, rgb(247, 156, 106) 4.6%, rgb(249, 120, 180) 26%, rgb(188, 82, 249) 49.1%, rgb(70, 163, 250) 86.5%);
}

.active {
    color: #fff;
    border-radius: 100%;
    padding: 10px;
}

.setBackground {
    background: #0d1117;
}

@layer base {
    body {
        @apply font-secondary text-lg leading-8 text-white;
    }
    .h2 {
        @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }
    .h3 {
        @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    }
    .btn {
        @apply rounded-full font-primary text-white font-medium;
    }
    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
    .text-gradient {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-[#47A3FA] via-[#B855F9] to-[#F8829E] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
    }
    /* .btn {
        @apply w-[130px] h-10 text-[1.1em] cursor-pointer bg-neutral-900 text-white transition-all duration-[0.4s] rounded-[5px] border-[none] hover:-translate-y-2.5 hover:shadow-[0_7px_0_-2px_#f85959,0_15px_0_-4px_#39a2db,0_16px_10px_-3px_#39a2db] hover:rounded-[5px] active:transition-all active:duration-[0.2s] active:translate-y-[-5px] active:shadow-[0_2px_0_-2px_#f85959,0_8px_0_-4px_#39a2db,0_12px_10px_-3px_#39a2db];
    } */
}
