@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    overflow-x: hidden;
}

html,
body,
.app-container {
    scroll-behavior: smooth;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0; /* Safari and Chrome */
    height: 0; /* Safari and Chrome */
}

::-webkit-scrollbar {
    width: 7px;
    /* display: none; */
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background: #200d3b;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, #8124f2, #36a1ee, #ff56f6);
    border-radius: 10px;
}

/* Media query to hide scrollbar for screens smaller than 768px */
@media (max-width: 767px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

/* .btn:hover {
    background: linear-gradient(57.4deg, rgb(247, 156, 106) 6%, rgb(249, 120, 180) 26%, rgb(188, 82, 249) 49.1%, #9488f8 86.5%);
}

.btn {
    background: linear-gradient(57.4deg, rgb(70, 163, 250) 6%, rgb(188, 82, 249) 26%, rgb(249, 120, 180) 49.1%, rgb(247, 156, 106) 86.5%);
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
} */

.gradient,
.active {
    background: linear-gradient(57.4deg, rgb(247, 156, 106) 4.6%, rgb(249, 120, 180) 26%, rgb(188, 82, 249) 39.1%, rgb(70, 163, 250) 76.5%);
}

.active {
    color: #fff;
    border-radius: 100%;
    padding: 10px;
}

.setBackground {
    background: #0d1117;
}

.img {
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px #954bef);
}

/* #background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translate(-50%, -50%);
    filter: blur(2px);
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);  optional: add a background color to loader
} */

/* .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
} */

/* Media Queries for different screen sizes */
@media (max-width: 1200px) {
    #background-video {
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    #background-video {
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    #background-video {
        object-fit: cover;
    }
}

@media (max-width: 576px) {
    #background-video {
        object-fit: cover;
    }
}

.btn:hover {
    background-image: linear-gradient(to bottom right, #840ff2, #ed4498);
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.btn {
    background: linear-gradient(to left, #8124f2, #36a1ee);
    color: #ffffff;
}

@layer base {
    body {
        @apply font-secondary text-lg leading-8 text-white;
    }
    .h2 {
        @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }
    .h3 {
        @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    }
    .btn {
        @apply rounded-full font-primary text-white font-medium;
    }
    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
    .text-gradient {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-[#36a1ee] to-[#f238f8] font-bold font-primary hover:from-[#f238f8] hover:to-[#359ee0];
    }
    /* .btn {
        @apply relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800;
    } */
}
