@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

.app-container {
    scroll-behavior: smooth;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0; /* Safari and Chrome */
    height: 0; /* Safari and Chrome */
}

::-webkit-scrollbar {
    width: 7px;
    /* display: none; */
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background: #2c1151;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, #8124f2, #36a1ee, #ff56f6);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to left, #0693f7, #7003f5, #fa04ee);
    border-radius: 10px;
}

/* Media query to hide scrollbar for screens smaller than 768px */
@media (max-width: 767px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

.gradient,
.active {
    background: linear-gradient(57.4deg, rgb(247, 156, 106) 14.6%, rgb(188, 82, 249) 39.1%, rgb(63, 157, 245) 76.5%);
}

.active {
    color: #fff;
    border-radius: 100%;
    padding: 6px;
}

.setBackground {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to left, #1c132e, #14141b);
}

.img {
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #740ef1);
}

.img1 {
    cursor: pointer;
    filter: drop-shadow(0px 8px 6px #09606f);
}

@layer base {
    body {
        @apply font-secondary text-lg leading-8 text-white;
    }
    .h2 {
        @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }
    .h3 {
        @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    }
    .btn {
        @apply rounded-full text-white hover:text-black tracking-widest font-extrabold bg-gradient-to-r transition-all ease-in-out duration-500 brightness-90 hover:font-extrabold from-cyan-400 to-[#a868f6]  hover:from-[#f238f8] hover:to-[#359ee0] hover:brightness-110;
    }
    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
    .text-gradient {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-cyan-400 to-[#a868f6] font-bold font-primary hover:from-[#f238f8] hover:to-[#359ee0];
    }
}
